<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
		<!-- NopCommerceSmokeRegressionTesting -->
<!-- <parameter name="browserName" value="Chrome"></parameter>
<parameter name="url" value="https://		demo.nopcommerce.com/"></parameter>
  <test name="Tests">
    <groups>
      <run>
       <include name="smoke"/>      
        <include name="regression"/>
      </run>
    </groups>
     <classes>
      <class name="testDemo1.NopCommerceSmokeRegressionTesting"/>
    </classes>
    
  </test> -->

<!-- NopCommerce -->
	<!-- <test name="LoginSignUpTest"> <classes> <class name="testDemo1.NopCommerce"> 
		<methods> <include name="loginToNopCommerce" /> <include name="signUpToNopCommerce" 
		/> </methods> </class> </classes> </test> -->
		
<!-- NopCommerceSmokeRegressionTesting -->

<!-- DataProviderWithForLoop_NopCom -->
<!-- 	<test name="NopCommerceTests">
		<classes>
			<class name="testDemo1.DataProviderWithForLoop_NopCom" />
		</classes>
	</test>
 -->
 
 
<!-- DataProvider_NopCom-->
	<!-- <test name="NopCommerceTests">
			<classes>
				<class name="testDemo1.DataProvider_NopCom" />
			</classes>
	</test> -->
	

<!-- NopCommerceParallelExecution -->
	<!-- <test name="NopCommerceTests">
		<classes>
			<class name="testDemo1.NopCommerceParallelExecution" />
		</classes>
	</test> -->
		
		
</suite> <!-- Suite -->


